@model HomeDetailsViewModel
@{
    ViewData["Title"] = "Emloyee Details";
}

<h3>Employee Detail</h3>
<div class="text-center">
    Name : @Model.Employee.Name
</div>
<div class="text-center">
    Id : @Model.Employee.Id
</div>

